$color1: #0076D8;
$color2: #343856;
$bar-width: 33px;
$bar-height: 4px;
$bar-spacing: 12px;
//Header for services.html
header {
    margin-bottom: 0;
    .header__all {
        .header__nav {
            ul {
                li {
                    a:hover {
                        background: $color1;
                    }
                    .active {
                        background: $color1;
                    }
                }
            }
        }
    }
}

//About Us
.aboutUs {
    background: url(../img/aboutus.png);
    height: 1080px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .aboutUs__all {
        display: flex;
        justify-content: space-between;
        height: 100%;
        .aboutUs__left {
            background: url(../img/aboutus2.png);
            width: 100%;
            display: flex;
            flex-direction: column;
            .adaptive {
                display: none;
            }
            .aboutUs__text {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                .aboutUs__hr {
                    background: $color1;
                    border-radius: 5px;
                    height: 248px;
                    width: 1px;
                }
                .aboutUs__desc {
                    padding: 0 20px;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 170%;
                    color: #fff;
                    max-width: 1072px;
                }
            }
        }
        .aboutUs__right {
            width: 200px;
            opacity: 0.86;
            background: $color1;
        }
    }
    .news__container {
        display: flex;
        justify-content: flex-end;
        margin-top: -195px;
        .promo__news {
            background: #FFFFFF;
            border-radius: 5px 0px 0px 5px;
            padding: 25px 0 35px 35px;
            width: 632px;
            position: absolute;
            display: flex;
            align-items: center;
            .news__text {
                .news__caption {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 170%;
                    color: #121426;
                    opacity: 0.45;
                    margin-bottom: 20px;
                }
                .news__desc {
                    font-size: 16px;
                    line-height: 170%;
                    color: #000;
                    max-width: 407px;
                }
            }
            .news__arrow {
                margin-left: 50px;
            }
        }
    }
    .arrow__container {
        display: flex;
        justify-content: center;
        height: 165px;
        align-items: flex-end;
        .promo__arrow {
            position: absolute;
        }
    }
}

//Plans
.plans {
    height: 600px;
    padding: 62px 100px;
    .plans__all {
        background: url(../img/01.png);
        height: 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .plans__caption {
            span {
                color: $color1;
            }
            font-size: 55px;
            line-height: 170%;
            color: #000;
            margin-bottom: 15px;
        }
        .plans__hr {
            border-radius: 5px;
            background: $color1;
            margin-bottom: 40px;
            width: 382px;
            height: 1px;
        }
        .plans__text {
            span {
                color: $color1;
                font-weight: bold;
            }
            font-size: 24px;
            line-height: 170%;
            color: $color2;
            max-width: 972px;
            text-align: center;
        }
    }
}

.plans-two {
    background: $color1;
    .plans__all {
        background: url(../img/02.png);
        background-repeat: no-repeat;
        .plans__caption {
            color: #fff;
        }
        .plans__hr {
            background: #fff;
        }
        .plans__text {
            color: #fff;
            max-width: 1015px;
        }
    }
}

.plans-three {
    .plans__all {
        background: url(../img/03.png);
        background-repeat: no-repeat;
        .plans__text {
            max-width: 1014px;
        }
        .plans__button {
            display: flex;
            justify-content: center;
            .button {
                cursor: pointer;
                border: 1px solid $color1;
                border-radius: 5px;
                background: transparent;
                color: $color1;
                font-weight: 500;
                font-size: 18px;
                line-height: 170%;
                width: 350px;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

// #double-two {
//     .plans-one {
//         background: $color1;
//         .plans__all {
//             .plans__caption span {
//                 color: #fff;
//             }
//             .plans__text span {
//                 color: #000;
//             }
//             .plans__caption,
//             .plans__hr,
//             .plans__text {
//                 color: #fff;
//             }
//         }
//     }
//     .plans-two {
//         background: #fff;
//         .plans__all {
//             .plans__caption {
//                 color: #000;
//             }
//             .plans__hr {
//                 background: #000;
//             }
//             .plans__text {
//                 color: #000;
//             }
//         }
//     }
//     .plans-three {
//         background: $color1;
//         .plans__all {
//             .plans__caption {
//                 color: #fff;
//                 span {
//                     color: #fff;
//                 }
//             }
//             .plans__hr {
//                 background: #fff;
//             }
//             .plans__text {
//                 color: #fff;
//             }
//             .plans__button {
//                 .button {
//                     color: #fff;
//                     border: 1px solid #fff;
//                 }
//             }
//         }
//     }
// }
// #double-three {
//     .plans {
//         .plans__all {
//             background: none;
//         }
//     }
// }
// #double-two,
// #double-three {
//     display: none;
// }
@media screen and (max-width: 1500px) {
    .aboutUs {
        .aboutUs__all {
            .aboutUs__left {
                header {
                    .header__all {
                        .header__nav {
                            ul {
                                li {
                                    a {
                                        padding: 18px;
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .aboutUs {
        height: 850px;
        .aboutUs__all {
            .aboutUs__left {
                header {
                    .header__all {
                        .header__logo {
                            margin-bottom: 20px;
                        }
                        .header__nav {
                            margin-bottom: 25px;
                        }
                    }
                }
                .aboutUs__text {
                    align-items: flex-start;
                }
            }
        }
    }
    .plans {
        .plans__all {
            .plans__caption {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .aboutUs {
        height: 750px;
        .aboutUs__all {
            .aboutUs__left {
                header {
                    padding: 12px 20px;
                    margin-bottom: 20px;
                    .header__all {
                        flex-direction: row;
                        .header__logo {
                            margin-bottom: 0;
                        }
                        .header__nav {
                            display: none;
                        }
                        .menu-wrapper {
                            display: block;
                            // position: absolute;
                            // top: 20px;
                            // right: 20px;
                            // margin: auto;
                            width: $bar-width;
                            height: $bar-height + $bar-spacing*2;
                            cursor: pointer;
                            .hamburger-menu {
                                &::before {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    bottom: $bar-spacing;
                                    background: $color1;
                                    transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                                }
                                &::after {
                                    content: "";
                                    position: absolute;
                                    left: 0;
                                    top: $bar-spacing;
                                    background: $color1;
                                    transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1)
                                }
                                position: relative;
                                transform: translateY($bar-spacing);
                                background: $color1;
                                transition: all 0ms 300ms;
                                &.animate {
                                    background: rgba(255, 255, 255, 0);
                                }
                                &.animate::before {
                                    bottom: 0;
                                    transform: rotate(-45deg);
                                    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                                }
                                &.animate::after {
                                    top: 0;
                                    transform: rotate(45deg);
                                    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                                }
                            }
                            .hamburger-menu,
                            .hamburger-menu:after,
                            .hamburger-menu:before {
                                width: $bar-width;
                                height: $bar-height;
                            }
                        }
                    }
                }
                .aboutUs__text {
                    padding: 0 20px;
                    .aboutUs__hr {
                        display: none;
                    }
                    .aboutUs__desc {
                        margin-left: 0;
                        font-size: 15px;
                    }
                }
            }
            .aboutUs__right {
                display: none;
            }
        }
        .news__container {
            display: none;
        }
        .arrow__container {
            height: auto;
        }
    }
    .adaptive {
        display: none;
        background: $color1;
        padding: 20px 0;
        top: 100px;
        position: absolute;
        z-index: 1;
        width: 100%;
        .adaptive__all {
            display: flex;
            justify-content: center;
            .adaptive__nav {
                ul {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    li {
                        &:last-child {
                            margin-bottom: 0;
                        }
                        margin-bottom: 35px;
                        a {
                            font-size: 18px;
                            line-height: 21px;
                            color: #fff;
                            transition: all 0.3s ease;
                        }
                    }
                }
            }
        }
    }
    .plans {
        padding: 62px 20px;
        height: auto;
        .plans__all {
            .plans__caption {
                font-size: 40px;
                text-align: center;
            }
            .plans__hr {
                width: 100%;
            }
            .plans__text {
                font-size: 18px;
            }
            .plans__button {
                width: 100%;
                a {
                    width: 100%;
                    .button {
                        width: 100%;
                    }
                }
            }
        }
    }
    .contact {
        padding: 50px 20px;
        .contact__all {
            width: 100%;
            .contact__caption {
                font-size: 40px;
                margin-bottom: 40px;
            }
            .contact__form {
                margin-bottom: 30px;
                width: 100%;
                form {
                    flex-direction: column;
                    .contact__message {
                        margin-top: 0;
                    }
                    .contact__send {
                        margin-top: 0;
                        margin-bottom: 0;
                        input {
                            width: 100%;
                        }
                    }
                    >div {
                        width: 100%;
                        margin-bottom: 50px;
                        input {
                            width: 100%!important;
                        }
                    }
                }
            }
            .contact__check {
                margin-right: 0;
                justify-content: center;
            }
        }
    }
}